---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/nav.astro";
---

<Layout title="Amya Moore" description="More about me">
	<div>
		hello

		<Navigation />
	</div>
</Layout>
