---
import Layout from '../layouts/Layout.astro';
import NavSection from '../components/nav.astro';
import VideoBG from '../components/video.astro';
---

<Layout title="Amya's Portfolio">
	<main>
		<VideoBG />
		<NavSection />
	</main>
</Layout>

<style>
</style>
