---
import Layout from '../layouts/Layout.astro';
import VideoBG from '../components/video.astro';
---

<Layout title='AM' description='Amya's personal portfolio'>
	<main>
		<VideoBG />
	</main>
</Layout>

<style>
</style>
