---
import Layout from "../layouts/Layout.astro";
import VideoBG from "../components/video.astro";
import Glass from "../components/glass.astro";
import Projects from "../components/projects.astro";
---

<Layout title="Amya Moore" description="Amya's personal portfolio">
	<div id="main-grid">
		<div class="glass-container">
			<Glass />
		</div>
		<Projects />
	</div>
	<VideoBG />
</Layout>

<style>
	/* =================== constants =================== */
	#main-grid {
		display: grid;
		gap: 10px;
		padding: 1rem;
	}

	.glass-container {
		max-width: 100%;
		min-height: 100vh;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	/* =================== media queries =================== */
	/* =================== MOBILE =================== */
	@media only screen and (max-width: 40em) {
		#main-grid {
			grid-template-columns: repeat(4, 1fr);
		}

		.glass-container {
			grid-column: span 4;
		}
	}

	/* =================== TABLET =================== */
	@media only screen and (min-width: 40.063em) and (max-width: 64em) {
		#main-grid {
			grid-template-columns: repeat(6, 1fr);
		}

		.glass-container {
			grid-column: span 6;
		}
	}

	/* =================== DESKTOP =================== */
	@media only screen and (min-width: 64.063em) {
		#main-grid {
			grid-template-columns: repeat(12, 1fr);
		}

		.glass-container {
			grid-column: span 12;
		}
	}
</style>
