---

---

<section class="about-section">
	<h1 id="about">About Me</h1>
	<p>
		I am a junior front-end web developer based in Denver, Colorado. Currently
		pursuing my master's degree in Information and Communications Technology
		(ICT) with a concentration in Web Design and Development, while also
		juggling roles as a digital marketer at the University of Denver's Visual
		Media Center (VMC) and as an IT and Salesforce assistant at Higher Education Resource Services (HERS). These
		opportunities have provided me with firsthand experience in the field of
		design and programming.
	</p>
	<p>
		On my own time, I am delving deeper into frameworks like React, Next.js, and
		Astro. I also hope to expand my knowledge in TypeScript and CSS animations in the
		future. Among my recent projects, I have recently taken on challenges from
		Frontend Mentor, class assignments, and personal projects, authoring
		articles from these projects to further document my growth.
	</p>
</section>

<style>
	.about-section {
		grid-column: span 4;
	}

	.about-section p:not(:last-child) {
		margin-bottom: 1rem;
	}

	/* =================== TABLET =================== */
	@media only screen and (min-width: 40.063em) {
		.about-section {
			grid-column: span 6;
		}
	}

	/* =================== DESKTOP =================== */
	@media only screen and (min-width: 64.063em) {
		.about-section {
			grid-column: 2 / 12;
		}
	}
</style>
