---

---

<section class="about-section">
	<h1 id="about">About Me</h1>
	<p>
		I am a junior front-end web developer based in Denver, Colorado. I am
		currently pursuing my master's degree in Informations and Communications
		Technology (ICT) with a concentration in Web Design and Development. While
		also juggling roles as a digital marketer at the
		university's Visual Media Center (VMC) and as an IT and Salesforce assistant
		at
		<a href="https://www.hersnetwork.org/" class="em"> HERS</a>. These
		experiences are giving me firsthand experience in the field of design and
		programming. I am also devling deeper into frameworks like React, Next.js,
		and Astro. In the future, I hope to expand my knowledge in TypeScript and
		CSS animations. Among my recent projects, I have tackled challenges from my
		own personal projects, class assignments, and challenges from Frontend Mentor
		and have explored writing articles to further document these projects.
	</p>
</section>

<style>
	.about-section {
		grid-column: span 4;
	}

	/* =================== TABLET =================== */
	@media only screen and (min-width: 40.063em) and (max-width: 64em) {
		.about-section {
			grid-column: span 6;
		}
	}

	/* =================== DESKTOP =================== */
	@media only screen and (min-width: 64.063em) {
		.about-section {
			grid-column: 2 / 12;
		}
	}
</style>
