---
const linkedin_href = "https://www.linkedin.com/in/amya-moore-a0a0b6212";
const cv_href = "https://read.cv/anmoore";
const email = "mailto:amya.nicole.moore@gmail.com?subject=Let's Connect!";
---

<section class="connect-container">
	<h1 id="connect">Let's Connect!</h1>
	<p>
		You can find me on
		<a href={linkedin_href} class="em" target="_blank" rel="noreferr"
			>LinkedIn</a
		>,
		<a href={cv_href} class="em" target="_blank" rel="noreferr">Read.CV</a>
		 or just drop me an <a href={email} class="em">email</a>. I bring a lot to
		the table and am always eager to learn. While I am currently in school, I
		will be looking for full-time entry-level positions in the near future, with
		the goal of expanding my search abroad.
	</p>
</section>

<style>
	.connect-container {
		grid-column: span 4;
	}

	/* =================== TABLET =================== */
	@media only screen and (min-width: 40.063em) {
		.connect-container {
			grid-column: span 6;
		}
	}

	/* =================== DESKTOP =================== */
	@media only screen and (min-width: 64.063em) {
		.connect-container {
			grid-column: 2 / 12;
		}
	}
</style>
