---
let date = new Date().getFullYear();
---
<footer class="footer-section">
	<p>&#169 { date } Designed and developed by Amya N. Moore</p>
</footer>

<style>
	footer {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		background-color: red;
	}
</style>