---
const date = new Date().getFullYear();
---

<footer id="footer">
	<p>
		<span>&#169</span>
		{date} to {date}. Designed and developed by Amya Moore. All rights reserved.
	</p>
</footer>

<style>
	footer {
		grid-column: span 4;
		margin-top: 1rem;
		text-transform: capitalize;
		text-align: center;
	}

	/* =================== TABLET =================== */
	@media only screen and (min-width: 40.063em) and (max-width: 64em) {
		footer {
			grid-column: span 6;
		}
	}

	/* =================== DESKTOP =================== */
	@media only screen and (min-width: 64.063em) {
		footer {
			grid-column: 2 / 12;
		}

		footer p {
			font-size: 0.9em;
		}
	}
</style>
