---
import Navigation from "../components/nav.astro";
---

<div id="glass-container">
	<div class="glass">
		<Navigation />
		<h2 class="intro-header">
			Hi! My name is Amya. I'm a junior front-end web developer based in Georgia
			working on branding, visual identies, editorial design, and web design.
		</h2>
		<div class="links-container">
			<a href="mailto:amya.nicole.moore@gmail.com">Contact me</a>
			<a href="" target="_blank">Download My Resume</a>
			<a
				href="https://read.cv/anmoore"
				target="_blank"
				rel="noopener noreferrer">Read.cv</a
			>
		</div>
	</div>
</div>

<style>
	/* =================== constants =================== */
	#glass-container {
		grid-column: span 4;

		width: 100%;
		height: 85vh;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	.glass {
		padding: 1rem;

		border-radius: 20px;
		border: 1px solid rgba(255, 255, 255, 0.16);
		background-color: rgba(255, 255, 255, 0.3);
		backdrop-filter: blur(6px);
	}

	.intro-header {
		margin: 2rem 0;
	}

	.links-container a:not(:last-child) {
		margin-right: 1.5rem;
	}

	/* =================== media queries =================== */

	/* =================== TABLET =================== */
	@media only screen and (min-width: 40.063em) and (max-width: 64em) {
		#glass-container {
			grid-column: span 6;
		}
	}

	/* =================== DESKTOP =================== */
	@media only screen and (min-width: 64.063em) {
		#glass-container {
			grid-column: 2 / 12;
		}
	}
</style>
