---

---

<div class="glass-container">
	<div class="glass">
		<h2>
			Hi! My name is Amya. I'm an art director and graphic designer based in New
			York City working on branding, visual identities, editorial design, and
			web design.
		</h2>
		<div class="links-container">
			<a href="mailto:amya.nicole.moore@gmail.com">Contact me</a>
		</div>
	</div>
</div>

<style>
	.glass-container {
		grid-column: 2 / 12;

		height: 80vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.glass {
		width: 100%;
		height: fit-content;

		background-color: rgba(255, 255, 255, 30%);
		backdrop-filter: blur(6px);
		border: 1px solid rgba(255, 255, 255, 16%);
		border-radius: 20px;

		padding: 2rem;
	}

	.links-container {
		margin: 1rem 0 0 0;
	}
</style>
