/* =================== constants =================== */
.project-gallery-container {
	min-width: 100%;
}

/* in-directly accesses the <LightGallery> component */
.project-gallery-container div {
	display: flex;
	flex-direction: row;
	align-items: start;
}

/* a tag */
.project-gallery-container a {
	display: block;
	width: 100%;
	height: 100%;
	border: none;
}

.project-gallery-container a:not(:last-child) {
	margin-right: 1rem;
}

.gallery-img {
	width: 100%;
	height: 100%;
	border-radius: 8px;
}

/* =================== media queries =================== */
/* =================== TABLET =================== */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	.gallery-img {
		border-radius: 10px;
	}
}

/* =================== DESKTOP =================== */
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
	.gallery-img {
		border-radius: 20px;
	}
}