---
// Component Script (JavaScript)
import NAV_DATA from '../data/nav_data';
---
<!-- Component Template (HTML & JS Expressions) -->
<div class="navigation-container">
	<div class="text-container">
		<!-- FIXME: why doesn't the margin-bottom work on this? * {margin: 0} -->
		<a href="" class="logo">Amya Moore</a>
		<p class="sub-header">Front-End Web Developer</p>
	</div>

	<nav id="navigation">
		{
			NAV_DATA.map( (item) => (
				<li class="nav-list">
					<a href={item.path} class="nav-link">{item.name}</a>
				</li>
			))
		}
	</nav>
</div>


<style>
	.navigation-container {
		display: flex;
		justify-content: space-between;
	}
	
	.sub-header {
		text-transform: uppercase;
	}

	#navigation {
		display: inline-flex;
		justify-content: space-evenly;
		min-width: 30%;
	}

	li {
		list-style-type: none;
	}
	
	li:not(:last-child) {
		margin-right: 0.5rem;
	}
</style>