---
import PROJECT_DATA from "../data/projects.js";
import Project from "./Project.astro";
---

<!-- the project's container -->
<section class="project-section">
	<h1 id="projects">Selected Projects</h1>
	<div class="project-container">
		{
			PROJECT_DATA.map((item) => (
				<Project name={item.name} tag={item.tag} link={item.link} />
			))
		}
	</div>
</section>

<style>
	.project-section {
		grid-column: span 4;
	}

	.project-container {
		display: grid;
		grid-template-columns: 1fr;
		gap: 1rem;
	}

	/* =================== TABLET =================== */
	@media only screen and (min-width: 40.063em) {
		.project-section {
			grid-column: span 6;
		}

		.project-container {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	/* =================== DESKTOP =================== */
	@media only screen and (min-width: 64.063em) {
		.project-section {
			grid-column: 2 / 12;
		}

		.project-container {
			grid-template-columns: repeat(3, 1fr);
		}
	}
</style>
