---
import PROJECT_DATA from '../data/project_data';
---
<section class="projects-section">
	<h2 id="projects">Projects</h2>
	<div class="project">
		{
			PROJECT_DATA.map( (item) => (
				<p>{item.projectName}</p>
			))
		}
	</div>
</section>

<style>
	
</style>