---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;

import NavSection from "../components/nav.astro";
import FooterSection from "../components/footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<!-- TODO: change favicon -->
		<link rel="icon" type="image/svg+xml" href="" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body id="main-grid">
		<NavSection />
		<slot />
		<FooterSection />
	</body>
</html>

<style is:global>
	/* =================== imported fonts =================== */
	@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

	/* ---------- sub-header ---------- */

	/* =================== global variables =================== */
	:root {
		--main-bg-colour-black: #000000;
		--main-font-colour-white: #ffffff;
		--accent-yellow: #ffc600;
	}

	/* =================== reset default styles =================== */
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	/* =================== base page styles =================== */
	body {
		font-family: "Inter", sans-serif;
		font-weight: 400;
		font-size: 1em;
		color: var(--main-font-colour-white);
		background-color: var(--main-bg-colour-black);
	}

	/* =================== font styles =================== */
	h1 {
		font-size: 12em;
		font-weight: 400;
		text-transform: uppercase;
	}

	h2 {
		font-size: 3em;
		font-weight: 400;
	}

	h3 {
		font-size: 2em;
		font-weight: 400;
	}

	p {
		font-size: 1em;
		font-weight: 400;
	}

	a {
		color: var(--main-font-colour-white);
		font-size: 1em;
		font-weight: 400;
		transition: all 0.2s ease-in-out;
	}

	a:hover {
		color: var(--accent-yellow);
		transition: all 0.2s ease-in-out;
	}

	/* =================== constants =================== */
	#main-grid {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 10px;
	}

	/* =================== media queries =================== */
	/* =================== DESKTOP+ =================== */
	@media only screen and (min-width: 64.063em) {
	}
</style>
