---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- TODO: change favicon -->
		<link rel="icon" type="image/svg+xml" href="" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="author" content="Amya Moore" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	/* =================== imported fonts =================== */
	@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

	/* ---------- sub-header ---------- */

	/* =================== global variables =================== */
	:root {
		--main-bg-colour-black: #000000;
		--main-font-colour-white: #ffffff;
	}

	/* =================== reset default styles =================== */
	* {
		margin: 0px;
		padding: 0px;
		font-size: 1em;
		box-sizing: border-box;
	}

	/* =================== base page styles =================== */
	body {
		font-family: "Inter", sans-serif;
		font-weight: 400;
		color: var(--main-font-colour-white);
		background-color: var(--main-bg-colour-black);
	}

	/* =================== font styles =================== */
	h1 {
		font-size: 5em;
		font-weight: 400;
		text-transform: uppercase;
	}

	h2 {
		font-size: 1em;
		font-weight: 400;
	}

	h3 {
		font-size: 1em;
		font-weight: 400;
	}

	p,
	a,
	footer {
		font-size: 1em;
		font-weight: 400;
	}

	a {
		color: var(--main-font-colour-white);
		text-transform: uppercase;
		text-decoration: none;
		border-bottom: 1px solid transparent;
		transition: all 0.2s ease-in-out;
	}

	a:hover {
		border-bottom: 1px solid;
		transition: all 0.2s ease-in-out;
	}

	/* =================== TABLET =================== */
	@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	}

	/* =================== DESKTOP+ =================== */
	@media only screen and (min-width: 64.063em) {
		h1 {
			font-size: 12em;
		}

		h2 {
			font-size: 3em;
		}

		h3 {
			font-size: 2em;
		}

		p,
		a,
		footer {
			font-size: 1em;
		}

		.hashtag {
			background: rgba(117, 117, 117, 0.45);;
			padding: 5px;
			border-radius: 10px;
		}
	}
</style>
